{% extends 'base.html' %}
{% block title %}ABOUT US{% endblock %}

{% block content %}
<div class="about">
    <h1 style="color: white; text-shadow: 2px 2px 5px #000;">This system is designed by Team Alfa</h1>
    <h2 style="color: white; text-shadow: 1px 1px 3px #000;">Work Division:</h2>
    <ul style="color: white; text-shadow: 1px 1px 3px #000; text-align: left; margin: 0 auto; width: fit-content;">
        <li><strong>Software and User Manual:</strong> Ziyi Chen.</li>
        <br>
        <li><strong>Data Preparation, Model Training and Evaluation:</strong> Hatta Adiwidya and Elnur Alasgarov.</li>
        <br>
        <li><strong>Report:</strong> Chutian Peng and Yuxuan Liu.</li>
        <br>
        <li><strong>Literature review:</strong> all team members.</li>
        <br>
    </ul>

    <h2 style="color: white; text-shadow: 1px 1px 3px #000;">Vision of Our Team</h2>
    <p style="color: white; text-shadow: 1px 1px 3px #000;">Our vision is to predict the energy consumption of heating, ventilation and air conditioning (HVAC) <br>
       systems and adjust it based on different environmental factors such as occupancy and weather changes. <br>
       We emphasize teamwork and commitment to our project's success.</p>
    
    <h2 style="color: white; text-shadow: 1px 1px 3px #000;">Our Supporters</h2>
    <p style="color: white; text-shadow: 1px 1px 3px #000;"><strong>Guiding Teacher:</strong> Brian Courtehoute, who gives us support and instructions for the project.</p>
    
    <h2 style="color: white; text-shadow: 1px 1px 3px #000;">Our Achievements</h2>
    <p style="color: white; text-shadow: 1px 1px 3px #000;">Key milestones and achievements of the project include helping users significantly reduce energy <br>
        consumption through informed decisions and further promoting the realization of sustainable development.
    </p>
    
    <h2 style="color: white; text-shadow: 1px 1px 3px #000;">Contact Us</h2>
    <p style="color: white; text-shadow: 1px 1px 3px #000;">For more information or to reach out for collaborations, contact us at zchen236@sheffield.ac.uk.</p>
</div>
<style>
    .about{
        font-family: 'Arial', sans-serif;
        color: #f0f0f0;
        border: 2px solid #ccc;
        border-radius: 5px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        background-color: rgba(0,0,0,0.6);
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        font-size: 24;
        margin: 20px;
        padding: 30px;
    }
</style>
{% endblock %}





